name: Specification
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: write
jobs:
  pre-commit:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - uses: pre-commit/action@v3.0.0

  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs/
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Sphinx build
        run: |
          make html
  link_check:
    name: Link check
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs/
    needs: build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Sphinx build satrecsv
        run: |
          make satrecsv
      - name: Sphinx build html
        run: |
          make html SPHINXOPTS='-W --keep-going -n'
      - name: Sphinx link check
        run: |
          make linkcheck SPHINXOPTS='-W --keep-going'
      - name: summarise linkcheck issues
        if: always()
        run: |
          ../ci/summarise-linkcheck-output ./build/linkcheck/output.json
