name: Specification
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: write
jobs:
  pre-commit:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: pre-commit/action@v3.0.1
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs/
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Sphinx build
        run: |
          make html
      - name: Sphinx linkcheck
        run: |
          make linkcheck
      - name: Summarise linkcheck output
        if: always()
        run: |
          ../ci/summarise-linkcheck-output build/linkcheck/output.json
